body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;

  }
  
  .container2 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
  }
  
  #file-upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  #file-upload-box.dragover {
    background-color: #f2f2f2;
  }
  
  #file-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #file-table th,
  #file-table td {
    padding: 10px;
    text-align: left;
  }
  
  #file-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  #file-table td:first-child {
    width: 70%;
  }
  
  #file-table td:last-child {
    text-align: center;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #004499;
  }
  
  button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    display: block;
    margin-top: 20px;
    width: 90%;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  .file-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 8px 15px;
    background-color: #2196F3;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer !important;
  }
  .file-upload input[type="file"] {
    position: absolute;
    height: 40px;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  #file-table{
    width: 80%;
    margin: auto;
  }
  /* .marginTable{
    font-size: 20px;
    position: relative;
    top: 20px;
    bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  } */
  table {
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  table th{
    padding: 10px;
    border-radius: 5px;
    
  }
  table td {
    padding: 10px;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  table tr:hover {
    background-color: #f9f9f9;
  }
  .openBtn{
    margin: 10px;
  }

  h4{
    margin: 30px 0px;
  }
  